body{
	background-color: black;
}
.izquierda{
	margin-top:0px;
	width: 50%;
	float: left;
}
.derecha{
	margin-top: 0px;
	width: 50%;
	float: right;
}
.general{
	width: 100%
}
.reloj{
	margin-left: 15%;
}
.subparrafo{
	color:white;
	font-family: 'Pacifico';
	font-size: 20px;
	text-align: center;
	text-decoration: underline;
	padding-top: 2%;
}
.fecha{
	transform: scale(0.8);
}
.saludoInicial{
	color:white;
	font-family: 'Pacifico';
	font-size: 100px;
	text-align: center;
	margin-bottom: 10px;
	margin-top: 30px;
}
.frase{
	color:white;
	font-family:'Pacifico';
	font-size:20px;
	text-align:center;
}
.reloj_1{
	margin-left: 38%;
	transform: scale(0.8);
}
.reloj_2{
	margin-left: 38%;
	transform: scale(1.1);
}
.reloj_3{
	margin-left: 38%;
	transform: scale(1.4);
	margin-top: 4%;
}
.tiempo_1{
	margin-top: 5%;
	transform: scale(0.7);
}
.tiempo_2{
	margin-top: 5%;
	transform: scale(0.8);
}
.tiempo_3{
	margin-top: 5%;
	transform: scale(1.0);
}